body {
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

.leader-board {
    overflow-y: auto;
    overflow-x: hidden;
    --title-bar-height: 160px;
    --row-length: 50dvw;
}

.leader-board > .fixed-title {
    width: 100%;
    height: var(--title-bar-height);
    position: fixed;
    z-index: 10;
    background-color: white;
}

.leader-board > .fixed-title > .title-bar {
    --elem-size: 60px;
    height: fit-content;
    display: flex;
    align-items: center;
    user-select: none;
    margin-top: 20px;
}

.leader-board > .fixed-title > .title-bar > .icon {
    width: var(--elem-size);
    height: var(--elem-size);
    margin-right: 20px;
    margin-left: auto;
}

.leader-board > .fixed-title > .title-bar > h1 {
    margin-left: 0px;
    margin-right: auto;
}

.leader-board > .participants {
    width: var(--row-length);
    height: fit-content;
    margin: auto;
    margin-top: calc(var(--title-bar-height) + 10px);
}

.leader-board > .fixed-title > .column-title-container > .column-title,
.leader-board > .participants > .participant {
    display: flex;
    width: 100%;
    align-items: center;
    height: 60px;
    border: 1px solid lightgray;
    margin: 10px 0px;
    border-radius: 8px;
    padding: 0px 10px;
    transition-duration: .3s;
}

.leader-board > .fixed-title > .column-title-container {
    width: 100%;
    border-bottom: 1px solid gray;
}

.leader-board > .fixed-title > .column-title-container > .column-title {
    width: var(--row-length);
    margin: auto;
    margin-top: 15px;
    height: 40px;
    font-weight: bold;
    border: unset;
}

.leader-board > .participants > .participant:hover {
    transform: scale(1.03);
    box-shadow: 1px 5px 5px lightgray;
}
.leader-board > .fixed-title > .column-title-container > .column-title > .name,
.leader-board > .participants > .participant > .name {
    flex-basis: 50%;
    overflow: hidden;
}

.leader-board > .fixed-title > .column-title-container > .column-title > .score,
.leader-board > .participants > .participant > .score {
    flex-basis: 10%;
    text-align: center;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    overflow: hidden;
}

.leader-board > .fixed-title > .column-title-container > .column-title > .group,
.leader-board > .participants > .participant > .group {
    flex-basis: 40%;
    text-align: center;
    overflow: hidden;
}

@media screen and (max-width: 765px) {
    .leader-board {
        --title-bar-height: 135px;
        --row-length: calc(100dvw - 20px);
    }

    .leader-board > .fixed-title > .title-bar > h1 {
        display: none;
    }

    .leader-board > .fixed-title > .title-bar > .icon {
        margin-right: auto;
    }

    .leader-board > .participants > .participant:hover {
        transform: unset;
        box-shadow: unset;
        background-color: rgba(230, 230, 230, 0.5);
    }

    .leader-board > .fixed-title > .column-title-container > .column-title > .name,
    .leader-board > .participants > .participant > .name { flex-basis: 45%; }
    .leader-board > .fixed-title > .column-title-container > .column-title > .score,
    .leader-board > .participants > .participant > .score { flex-basis: 20%; }
    .leader-board > .fixed-title > .column-title-container > .column-title > .group,
    .leader-board > .participants > .participant > .group { flex-basis: 35%; }
}